.wrapper {
    max-width: 560px; /* Change this value to your desired width */
  }

  .post-title {
    font-size: 30px;;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .site-title { 
    font-weight: normal;
  }

  .site-footer {
    margin-top: 20px;
    padding-top: 0px;
  }

  #homepage-description {
    margin-bottom: 30px;
  }

  .wrapper {
    padding-top: 10px;
  }

  .post-content ol li {
    padding-bottom: 14px;
  }

  .post-content ul li {
    padding-bottom: 4px;
  }

  .reference {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
  }


